*{
    padding: 0%;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    
}

h2,h3{

    color:#884f00;
}

body{

    background-color: #FFF7ED;
}
header{

    background-color: #A16207;
    text-align: center;
    color: #FFFFFF;
    padding: 15px;
}

nav{
    background-color: #A16207;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 30px;
    padding-top: 20px;
}

.boton{

    text-decoration: none;
    padding: 10px;
    background-color:  rgba(255, 255, 255, 0.295);
    border-radius: 10px;
    margin-right: 10px;
    color: #FFFFFF;
    

}

.cajaPrincipal{
    
    background-color: #FFFFFF;
    height:100%;
    width:60%;
    border-radius: 10px;
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 2%;
    border: 2px solid #E7D4BF;
    padding: 1%;
    
}

.aislamiento{

    margin-left: 20%;
    margin-top: 2%;
}

.input{
    width: 60%;
    padding: 1%;
    border-radius: 10px;
    border: 2px solid #E7D4BF;
    margin-left: 10%;
}
.input2{
    width: 60%;
    padding: 1%;
    border-radius: 10px;
    border: 2px solid #E7D4BF;

    margin-left: 23.6%;
}

fieldset{

    border-radius: 10px;
    border: 2px solid #E7D4BF;
    background-color: rgba(250, 235, 215, 0.562);
    padding: 3%;
    font-weight: bold;

}
button{

        background: #ff7a00;
        border: none;
        padding: 1%;
        border-radius: 4px;
        margin-left: 15%;
}

legend{

    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

caption {
    caption-side: bottom;
    font-size: 0.9em;
    padding-top: 8px;
}

th, td {
    border: 1px solid #e0c9a6;
    padding: 8px;
    text-align: left;
}

.beig{

    background-color: #e0c9a641;
}

tfoot td {
    font-weight: bold;
    background: #f7e9d3;
}





footer{

    padding: 1%;
    text-align: center;
    color: #FFFFFF;
    background-color: #A16207;

}